<article class="m-3">
  <a href="/dashboard" class="mt-3 text-dark"> &larr; Back to dashboard</a>
  <h2 class="my-3">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="pb-2">
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div class="pb-2">
      <a href="/post/{{post.id}}" class="text-dark">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="p-2 btn btn-dark" style="color: #e2fce2;">Save</button>
    <button type="button" class="delete-post-btn p-2 btn btn-dark" style="color: #e2fce2;">Delete</button>
  </form>
</article>

<form class="comment-form m-3 mt-5">
  <div>
    <textarea name="comment-body" class="col-sm-6 p-2"></textarea>
  </div>
  
  <div>
    <button type="submit" class="p-2 btn btn-dark" style="color: #e2fce2;">Add Comment</button>
  </div>
</form>

<div class="comments mt-5">
  {{> comments post.comments}}
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>